#Assignment {
  font-size: 2rem;
  color: black;
}
#newAssignment {
  background-color: #326c96;
  color: white;
  margin-left: 70%;
}
input[type=search]{
  width: 83%;
}
#CloseAssignmentModal{
  border: none;
  background-color: white;
}
#addSelectedParts {
  background-color: #326c96;
  color: white;
}
thead {
  background-color: black;
  border-radius: 1em;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

table {
  /* font-size: small; */
  border-radius: 0.5em;
  overflow: hidden;
  border: 1px gray solid;
}
label {
  color: #8f8a8c;
}
#CloseModal {
  border: none;
}

/* Table */

#table_assignment thead{
  background-color: #262626;
}
#table_assignment th{
color: white;
}
.displayTable{
  margin-left: 2.6%;
  margin-right: 3%;
}
#table_assignment_length,#table_assignment_filter{
  display: none;
}
#table_assignment_info{
  margin-left: 72%;
  margin-top: 1%;
}
input[type=text]{
  width: 82%;
}
#table_assignment_paginate a.paginate_button.current {
  color: white !important;
  background-color: black !important;
}
#table_assignment_paginate {
  border: 1px rgb(220, 218, 218) solid;
  border-radius: 3px;
  margin-top: 1%;
}
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0% !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline-block;
  padding: 0.2em 0.5em;
  cursor: pointer;
  
}
#SelectParts{
  width: 200px;
  height: 40px;
}

/* .select2-selection--multiple{
  z-index: 1000;
}

.select2-selection__choice__display{
  z-index: 10000 !important;
} */
.select2-search__field{
  z-index: 10000 !important;
}