body{
  overflow-x: hidden;
  background-color: rgb(232, 234, 237);
}
#Dashboard {
    font-size: 2rem;
    color: black;
  }
/* #table_div{
    border: 2px;
} */
#table_div  thead {
    color: #ffffff;
    background-color: #212529;
    /* border-color: #32383e;
    border-radius: 6px; */
    font-weight: 100;
  }
.displayTable{
    /* padding: 0% 2%; */
    padding-left: 3.5%;
    padding-right: 2.5%;
}
#table_div_length,#table_div_filter{
    display: none;
}
#table_div_info{
  margin-top: 1%;
  margin-left: 69%;
}
@media only screen and (max-width: 800px) {
  #table_div_info {
    margin-left: 30%;
  }
}
#table_div_filter{
  margin-bottom: 2%;
  margin-top: 3%;
}

/* PAGINATION */
.current{
  background-color: #212529 !important;
}

#table_div_paginate{
  border: 1px rgb(220, 218, 218) solid;
  border-radius: 3px;
  margin-top: 1%;
  color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0% !important;
}