body{
  overflow-x: hidden;
  background-color: rgb(232, 234, 237);
}
#Dashboard {
    font-size: 2rem;
    color: black;
  }
/* #table_div{
    border: 2px;
} */
#table_div  thead {
    color: #ffffff;
    background-color: #212529;
    /* border-color: #32383e;
    border-radius: 6px; */
    font-weight: 100;
  }
.displayTable{
    padding: 0% 3.5%;
}
#table_div_length{
    display: none;
}
#table_div_info{
  margin-left: 69%;
}
@media only screen and (max-width: 800px) {
  #table_div_info {
    margin-left: 30%;
  }
}
#table_div_filter{
  margin-bottom: 2%;
  margin-top: 3%;
}
#table_div_wrapper,.dataTables_wrapper{
  padding-top: 0%;
  margin-top: 0%;
}
/* input[type=search]{
  width: 120%;
} */
