body {
  overflow-x: hidden;
}
#status {
  font-size: 2rem;
  color: black;
}
#table_status thead {
  color: #ffffff;
  background-color: #212529;
}
#table_status th {
  font-weight: normal;
}
.displayTable {
  padding: 0% 3.6%;
}
td {
  background-color: #ffffff !important;
}

#table_status_filter,
#table_status_length {
  display: none;
}
#table_status_info {
  margin-top: 1%;
  margin-left: 69%;
}
#table_status td {
  padding: 20px;
}
input[type="checkbox"]:checked {
  background-color: #1bab55;
  color: #ffffff;
  border: none;
}
#StatusChildTable thead {
  background-color: #cfd3d8;
  color: #8f8a8c;
}
#StatusChildTable td {
  padding: 10px;
}
table.dataTable td.dt-control:before {
  background-color: white !important;
  color: #212529 !important;
}
input[type=search]{
    width: 80%;
}
.current {
  background-color: #212529 !important;
}

#table_status_paginate {
  border: 1px rgb(220, 218, 218) solid;
  border-radius: 3px;
  margin-top: 1%;
  color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0% !important;
}
