#status{
    font-size: 2rem;
    color: black;
}
#table_status  thead {
    color: #ffffff;
    background-color: #212529;
    border-color: #32383e;
    font-weight: normal !important;
  }
.displayTable{
    padding: 0% 3.6%;
}
td{
   background-color: #ffffff !important;
}
#table_status_filter{
    display: none;
}
#table_status td{
    padding: 20px;
}