
.mainbody {
  background-color: #F7F8FA;
}
#stock {
  font-size: 2rem;
  color: black;
}

/* Modal */
#addStock {
  background-color: #326c96;
  color: white;
  margin-left: 70%;
}
@media only screen and (max-width: 1000px) {
  #addStock {
    margin-left: 1%;
  }
}
label{
    color: #8F8A8C;
}
.btn-group{
    width: 150%;
    border-radius: 6px;
    background-color :#ffffff;
}
.btn-grp{
    background-color :#ffffff;
    color: rgb(43, 43, 43);
}
#savestock{
  background-color: #326c96;
  padding: 6% 30%;
  color: white;
}
.btn-outline-secondary{
  padding: 6% 30%;
}
#upperStockModalclose,#upperPartsmodalcolse{
  border: 0px;
  color: grey;
  background-color: white;
}
.bi-plus-circle{
  color: #8F8A8C;
}
/* 
#PartsTable thead */
#table_stocks  thead {
  color: white;
  background-color: #212529;
  /* font-weight: normal !important; */
}
#childTable thead{
  color: #8F8A8C;
}
.displayTable{
  padding: 0% 3.6%;
}
#AddParts{
  text-decoration: none;
  font-size: small;
}
.dataTables_length,#table_div1_filter,#table_stocks_filter{
  display: none;
}
.dataTables_info{
  margin-top: 1%;
    margin-left: 69%;
}
#saveparts{
  background-color:#326c96 ;
  color: #ffffff;
}

table.dataTable td.dt-control:before {
  background-color: white !important;
  color: #212529 !important;
}
td{
  background-color: #ffffff !important;
}
#PartsTable th{
  background-color: #212529;
  color: #ffffff;
}
#childTable thead{
  background-color: #F5F6FA;
  /* padding: 0% 10%; */
  border-radius: 10px;
}
#childTable{
  border-radius: 6px;
  
}
/* error */

.error{
  color: red;
}

/* PAGINATION */

.current{
  background-color: #212529 !important;
}

#table_stocks_paginate{
  border: 1px gray solid;
  margin-top: 1%;
}
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0% !important;
}