
.mainbody {
  background-color: #F7F8FA;
}
#stock {
  font-size: 2rem;
  color: black;
}

/* Modal */
#addStock {
  background-color: #326c96;
  color: white;
  margin-left: 70%;
}
@media only screen and (max-width: 1000px) {
  #addStock {
    margin-left: 1%;
  }
}
label{
    color: #8F8A8C;
}
.btn-group{
    width: 150%;
    border-radius: 6px;
    background-color :#ffffff;
}
.btn-grp{
    background-color :#ffffff;
    color: rgb(43, 43, 43);
}
#savestock,#editstock, #saveparts{
  background-color: #326c96;
  padding: 7% 30%;
  color: white;
}
.btn-outline-secondary{
  padding: 6% 30%;
}
#upperStockModalclose,#upperPartsmodalcolse{
  border: 0px;
  color: grey;
  background-color: white;
}
.bi-plus-circle{
  color: #8F8A8C;
}

/* 
#PartsTable thead */
#table_stocks  thead {
  color: white;
  background-color: #212529;
  /* font-weight: normal !important; */
}
#table_stocks th{
  font-weight: normal;
}
#childTable thead{
  color: #8F8A8C;
}
#table_stocks tr td:nth-child(1){
  color: #1188FF;
}
.displayTable{
  padding: 0% 3.6%;
}
#AddParts{
  text-decoration: none;
  font-size: small;
}
.dataTables_length,#table_div1_filter,#table_stocks_filter{
  display: none;
}
.dataTables_info{
  margin-top: 1%;
    margin-left: 69%;
}
/* #saveparts{
  background-color:#326c96 ;
  color: #ffffff;
  padding:7% 20%;
} */

table.dataTable td.dt-control:before {
  background-color: white !important;
  color: #326C96 !important;
  border: 1px solid #326C96 !important;
  
}
table.dataTable td.dt-control:before {
  height: 1em;
  width: 1em;
  margin-right: 3%;
  margin-top: -9px;
  display: inline-block;
  color: white;
  border: 0.15em solid #1188FF;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: #31b131;
}

td{
  background-color: #ffffff !important;
}
#PartsTable th{
  background-color: #212529;
  color: #ffffff;
  font-weight: normal;
}
#childTable thead{
  background-color: #F5F6FA;
  /* padding: 0% 10%; */
  border-radius: 10px;
}
#childTable th{
  color: #8F8A8C;
}
#childTable tr{
  border-radius: 6px;
  color: black;
  
}
#childTable tr td:nth-child(1){
  color: #000000;
}


/* Move Sorting Option */
/* table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:after {
  top: 50%;
  content: "▼";
} */
table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 40% !important;
  line-height: 9px;
  font-size: 0.8em;
}
/* error */

.error{
  color: red;
}

/* PAGINATION */

.current{
  background-color: #212529 !important;
}

#table_stocks_paginate{
  border: 1px rgb(220, 218, 218) solid;
  border-radius: 3px;
  margin-top: 1%;
  color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0% !important;
}